.container-fluid {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.logo {
  height: 10vh !important;
  width: 5vw !important;
  overflow: hidden;
  padding-left: 5%;
  margin-right: auto;
}

.logo-img {
  height: 100%;
  width: 100%
}

.navbar_link {
  font-size: 1em !important;
  color: white !important;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 600 !important;
  transition: all 0.5s ease;
  display: inline-block;
  position: relative;
  padding: 0px 20px;
}

.navbar_link::after {
  content: '';
  position: absolute;
  width: 80%;
  transform: scaleX(0);
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: #ae13eb !important;
  transform-origin: bottom right;
  transition: transform 0.5s ease-in-out;
}

.navbar_link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  border-bottom: #ae13eb 2px solid !important;
}

a:hover {
  color: #ae13eb !important;
  font-size: 1em !important;
  font-weight: 600 !important;
}

a:hover::after {
  width: 100%;
}

.color-nav {
  border-bottom: #4e4376 0.5px solid !important;
  box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06);

  background: transparent !important;
  z-index: 9 !important;
  top: 0 !important;
  width: 100% !important;
  position: fixed !important;
  height: 11vh !important;
  margin-bottom: 10vh !important;
}

.color-nav-scroll {
  background: #2b5876;
  border-bottom: #4e4376 0.5px solid !important;
  z-index: 9 !important;
  top: 0 !important;
  height: 11vh !important;
  width: 100% !important;
  position: fixed !important;
  margin-bottom: 10px !important;
}